.cluster {
  display: block;

  & > img {
    z-index: -1;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
  }
}
